.contenedor-slider
{
    display: flex;
    align-items: center;
    gap: 40px; /**/
    /*max-width: 1200px;*/
    padding: 0px 10px;
    margin: 0 auto;
    
}
.slider-izquierdo,.slider-derecho
{
    width: 5%;
}
.slider-izquierdo img, .slider-derecho img
{
    width: 100%;
    /*cursor: pointer;*/
    position: relative;
    
    
}
.slider-screen img{
    height: 300px;
    width: 80%;
}
.slider-screen
{
    width: 90%;
    
}
.slider-screen img
{
    width: 100%;
}
.slider-derecho img:hover{filter: saturate(180%);}
.slider-izquierdo img:hover{filter: saturate(180%);}